@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}
.container {
    width: 100%;
    min-height: 100vh; 
    padding: 10px;
}
#list-container{
margin-left: 100px;
line-height: 40px;
}
.todo-app {
    width: 100%;
    max-width: 1000px;
    background: #ffffff;
    margin: 200px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}
.todo-app h2 {
    color: #30385f;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app h2 img {
    width: 50px;
    margin-left: 1%;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 10px;
    margin-bottom: 15px;
}
input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 5px;
    font-weight: 25px;
}

.btn button {
    border: none;
    outline: none;
    padding:15px  50px;
    background: #30385f;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
 
}
.funciones button{
    border: none;
    outline: none;
    padding:15px  75px;
    background: #30385f;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 0px;
}
.logo ul {
    list-style: none;
    padding: 0; 
}
.logo ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
.tachada{
    text-decoration: line-through;
  }


/*Menu*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('img/fondo.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.navbar {
    width: 100%;
    padding: 20px 40px;
    background-color: rgba(255, 255, 255, 0.8); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}
.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: #000;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}
.nav-links li {
    list-style: none;
}
.nav-links li a {
    font-size: 18px;
    text-decoration: none;
    color: #000;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}
.nav-links li a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
